flake.lock
.direnv
.claude/log
.claude/log~

# Added by cargo

/target
.claude/bash-local
.claude/paths-local
.claude/webfetch-local

# fishing config files:
.claude/fishing.bash.local.txt
.claude/fishing.paths.local.txt
.claude/fishing.webfetch.local.txt
.claude/fishing.glob-exclude.local.txt
.claude/fishing.log
.claude/fishing.log~
